# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\euric\Desktop\Fac\Faculdade\2 ano\1 semestre\POO\Projecto\Projecto Meta 2\Projecto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
